*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
.content
{
  position: relative;
}
.content h2
{
  position: absolute;
  color: white;
  transform: translate(-50%, -50%);
  font-size: 8em;  
}
.content h2:nth-child(1)
{
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}
.content h2:nth-child(2)
{
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}
@keyframes animate
{
  0%,100%
  {
    clip-path: polygon(0% 53%, 14% 54%, 26% 58%, 40% 65%, 61% 66%, 76% 64%, 100% 55%, 100% 98%, 0% 99%);
  }
  50%{
    clip-path: polygon(0 64%, 20% 77%, 32% 76%, 46% 69%, 59% 61%, 75% 51%, 100% 44%, 100% 100%, 0 100%);
  }
}