$color-w:white;
$color-r:#FF4343;
$gap-t:#6C7279;
$line:#BABBC5;
$slider:#5C3249;
$color-b:black;
.navbar-nav .nav-link.active
{
    color:$color-w;
    font-size: 13px;
    margin-left: 40px;
    display: flex;
    flex: 1 0 40%;
}

.navbar-brand
{
    color: $color-w;
    font-size: 33px;
    display: flex;
    flex: 1 0 40%;
}
body
{
    font-family: "Raleway",serif;
    font-weight: 700;
}
.seti
{
    display: flex;
    margin-top: 10px;
}
.col-12
{
    padding-left: 15px;
    padding-right: 15px;
}
.row
{
    padding-left: 15px;
    padding-right: 15px;
}
// .row2
// {
//     display: flex;
//     flex-direction: row;
// }
.wrap
{
    width: 100%;
    background: linear-gradient( rgba(37, 43, 73, 0.5), rgba(37, 43, 73, 0.5) ), url('../img/container-main.png');
    background-size: cover;
}
.navbar-toggler
{
    background-color: $color-w;
}
.container5
{
    margin-top: 50px;
}
.img1:hover
{
    background-color: rgba(255, 67, 67, 0.8);
}
.rectangle
{
    width: 100%;
    max-width: 1100px;
    height: 2px;
    margin-left: 20px;
    background-color:  $line;
}

h1
{
    color:$color-w;
    font-weight: 900;
    text-align: center;
    font-size: 64px;
    margin-top: 150px;
    line-height: 75px;
}
.lorem-main
{
    font-size: 24px;
    color: $color-w;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-width: 1000px;
    margin-top: 50px;
}
.button-main
{
    background-color: $color-r;
    color:$color-w;
    font-size: 24px;
    font-weight: 900;
    border: none;
    height: 80px;
    width: 370px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

h3
{
    font-size: 24px;
    font-weight: 900;
    margin-top: 30px;
}
.gapt
{
    font-size: 18px;
    color: $gap-t;
    padding-top: 30px;
}
.row
{
    width: 100%;  
}
// .row1
// {
//     display: flex;
//     flex-direction: row;
// }

h2
{
    font-size: 18px;
    color: #FF4343;
}
.persont
{
    color: $gap-t;
}
.carousel
{
    width: 100%;
    max-width: 741px;
}
.container2
{
    padding-left: 15px;
    padding-right: 15px;
}
.container4
{
    width: 100%;
    padding-left: 100px;
}
.rec
{
    background-color: $slider;
    width: 100%;
    max-width: 678px;
    color:$color-w;
    max-height:63vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rectext
{
    width: 100%;
    padding-left: 70px;
    height: 47.2vh;
    margin-top: 150px;
    padding-right: 70px;
    margin-left: auto;
    margin-right: auto;
}

.rect
{
    @import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');
    font-family: "Cardo",serif;
    font-size: 24px;
    width: 320px;
    display: flex;
    font-weight: 400;
}
.recth
{
    font-size: 12px;
    font-weight: 700;
}
.carousel-indicators
{
    background-color: $color-r;
}
.last
{
    font-size: 30px;
    color: $color-b;
    text-align: center;
}
.lastt
{
    text-align: center;
}
button:hover
{
    
    background-color: #E71414;
}
button:active
{
    background: #FF4343;
box-shadow: 4px 4px 30px #FF4343;
}
.divtext
{
    margin-top: 50px;
}
footer
{
    background: hsla(231, 31%, 30%, 1);
    background: linear-gradient(180deg, hsla(231, 31%, 30%, 1) 82%, hsla(233, 31%, 25%, 1) 84%);
    background: -moz-linear-gradient(180deg, hsla(231, 31%, 30%, 1) 82%, hsla(233, 31%, 25%, 1) 84%);
    background: -webkit-linear-gradient(180deg, hsla(231, 31%, 30%, 1) 82%, hsla(233, 31%, 25%, 1) 84%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#353C65", endColorstr="#2C3154", GradientType=1 );
}
.hiddentext
{
    display: none;
}
footer
{
    width: 100%;
    height: 28vh;
    text-align: center;
    align-items: center;
    margin-top: 100px;
}
.location
{
    font-size: 14px;
    font-weight: 700;
    color: $color-w;
}
.int
{
    color: #808080;
    margin-left: auto;
    margin-right: auto;
}
.name
{
    color: $color-w;
}
.location2
{
    color:$color-w;
    font-weight: 400;
}

@media(width:320px)
{
    h1
    {
        display: none;
    }
    .hiddentext
    {
        display: block;
    }
}


